/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body {
   font-family: 'Roboto', sans-serif;
   background-color: #fffff0;
 }

.logo {
  color: #ed1c40;
  font-family: 'Gloria Hallelujah', cursive;
  font-weight: bold;
  text-decoration: none;
}
.nav {
  font-size: 0.9em;
}
.nav__link {
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid #999;
  padding-bottom: 2px;
}
.footer {
  border-top: 1px solid #EEE;
  padding-top: 10px;
}
.footer__link {
  color: rgba(0,0,0,.54);
  font-size: 0.75em;
  text-decoration: none;
}
