<h1>Suggestions#category</h1>
<p>Find me in app/views/suggestions/category.html.erb</p>
<!--
  Zomato category for eating out at restaurants:
    "categories": {
      "id": 2,
      "name": "Dine-out"
    }
-->

<!-- <%= react_component('CategoriesContainer') %> -->
